@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Almarai";
  src: url("/fonts/Almarai-Regular.ttf") format("truetype");
}

@layer components {
  body {
    @apply font-Almarai;
  }
  .mapboxgl-compact {
    @apply hidden;
  }
  .h1 {
    @apply text-[4rem]
        font-bold;
  }

  .h2 {
    @apply text-[2.5rem]
        font-bold;
  }

  .h3 {
    @apply text-[1.5rem]
        font-bold;
  }

  .subtitle {
    @apply text-[1.5rem]
        font-medium;
  }

  .body {
    @apply text-base
        font-medium;
  }

  .body-bold {
    @apply text-base
        font-bold;
  }

  .devider {
    @apply h-28;
  }
  .btn {
    @apply text-center
            text-white
            bg-primary
            px-[3rem]
            py-[1rem]
            text-lg
            rounded-tr-[15px]
            rounded-bl-[15px]
            border-2
            border-[#548B68]
            shadow-lg
            font-bold;
  }

  .btn-outline {
    @apply text-center
            text-white
            border-2
            text-[#548B68]
            border-[#548B68]
            px-[3rem]
            py-[1rem]
            text-lg
            rounded-tr-[15px]
            rounded-bl-[15px]
            shadow-lg
            font-bold;
  }

  .input {
    @apply text-center
            text-white
            border-2
            text-[#548B68]
            border-[#548B68]
            h-[40px]
            w-max
            text-lg
            rounded-[8px]
            shadow-lg
            font-bold;
  }
}

/* ((((((((((MASAB))))))))))) 👇👇👇 */
/* ===================================== */
/* =====Initiatives Page Style========== */
/* ===================================== */
* {
  @apply m-0 p-0;
}
.baner {
  @apply w-full h-[60vh] flex items-center justify-center;
  background: linear-gradient(rgba(84, 140, 105, 0.5), rgba(84, 139, 104, 0.5)),
    url(../public/images/banner.png) no-repeat bottom center / cover;
}
.baner h1 {
  @apply text-white font-bold text-[64px] inline tracking-[1px];
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.InitiativesContent {
  @apply relative mt-8 px-4 py-0 mb-4;
}
.InitiativesCard {
  @apply flex justify-between flex-wrap w-[70%] gap-4 m-auto px-0 py-8 border-t;
}
.CardText {
  @apply w-6/12 mb-4;
}
.CardImgs {
  @apply h-[400px] w-[500px] relative;
}
.CardImgs img {
  @apply w-full h-full object-cover rounded-[15px];
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2));
}
a {
  @apply text-[#548b68];
}
.CardText h2 {
  @apply tracking-[2px] font-semibold text-[2rem] relative mb-8 rtl:pl-0 rtl:pr-4 pl-4 after:content-[""] after:h-full after:absolute after:w-[5px] rtl:after:right-0 after:left-0 after:top-0;
}
.CardText h2::after {
  background: #548b68;
}
.read-more-about-Initiatives {
  @apply absolute -translate-x-2/4 h-[100px] w-[70%] flex items-center justify-center left-2/4 -bottom-2.5;
  background: linear-gradient(to top, #ffffff 50%, transparent);
}
.read-more-about-Initiatives a {
  @apply font-bold;
}

/* ========Media for Initiatives======== */
/* ========Media for Initiatives======== */
/* ========Media for Initiatives======== */

@media (max-width: 1510px) {
  .InitiativesCard {
    @apply w-full justify-around;
  }
  .read-more-about-Initiatives {
    @apply w-full;
  }
}
@media (max-width: 1250px) {
  .CardImgs {
    @apply h-[350px] w-[450px];
  }
}
@media (max-width: 990px) {
  .CardText {
    @apply w-[90%];
  }
  .InitiativesCard {
    justify-content: start;
  }
  .baner h1 {
    @apply text-[6vw];
  }
  .baner {
    @apply h-[30vh];
  }
}
@media (max-width: 600px) {
  .CardText {
    @apply w-full;
  }
  .CardText h2 {
    @apply text-[6vw];
  }
  p {
    @apply text-sm;
  }
}

/* ===================================== */
/* =====Contact US Page Style========== */
/* ===================================== */

.SPAN {
  @apply text-[blueviolet];
}
input {
  @apply w-[450px] h-[46px] border mt-2 px-2 py-4 rounded-lg border-solid border-[#999];
  outline: none;
}
textarea {
  @apply w-[450px] border mt-4 px-2 py-4 rounded-lg border-solid border-[#999];
  outline: none;
}
.fomrePage {
  @apply w-full flex h-screen justify-center;
}

.formeSection {
  @apply shadow-[6px_6px_0px_#548b68] rounded-[15px] border-2 border-solid border-[#548b68]
  flex justify-between items-center m-auto  h-[690px];
}

.formeSection h1 {
  @apply text-5xl leading-relaxed rtl:leading-relaxed  relative font-bold rtl:pl-0
  rtl:pr-4 pl-4 after:content-[""] after:h-[90%] after:absolute after:w-[5px] rtl:after:right-0 after:left-0 after:top-0;
}
.formeSection h1::after {
  background: #548b68;
}
.formeSection p {
  @apply mx-0 my-8;
}
.input-forForme {
  @apply mx-0 my-4;
}
.sideImg {
  height: 100%;
  width: 600px;
  border-radius: 15px;
  background: url("../public/images/Doc.jpg") center center / cover;
}
.submitBTN {
  @apply w-full text-white font-bold tracking-[1px] bg-[#548b68] transition-[0.2s]
   shadow-[5px_5px_5px_#0000002f] px-0 py-2.5 rounded-[0_8px_0_8px] hover:bg-[#24673d];
}
/* ========Media for Contact US Page======== */
/* ========Media for Contact US Page======== */
/* ========Media for Contact US Page======== */
@media (max-width: 1600px) {
  .formeSection {
    @apply scale-[0.8];
  }
}
@media (max-width: 1200px) {
  .formeSection h1 {
    @apply text-[4vw];
  }
}

@media (max-width: 991px) {
  .sideImg {
    display: none;
  }
  .formeSection h1 {
    @apply text-[2.5rem];
  }
}
@media (max-width: 600px) {
  .formeSection {
    @apply shadow-none p-0 border-none;
  }

  input,
  textarea {
    @apply w-[90vw] mt-2;
  }
  .formeSection h1 {
    @apply text-[2rem];
  }
}

/* ===================================== */
/* =====Read More Page Style========== */
/* ===================================== */
.mainContainerForReadMore {
  @apply w-2/5 mt-[50px] m-auto;
}
@media (max-width: 1350px) {
  .mainContainerForReadMore {
    @apply w-4/5;
  }
}
@media (max-width: 991px) {
  .mainContainerForReadMore {
    @apply w-full px-4 py-0;
  }
}
